body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #2f8ff6;
  color: #d3d3d3;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin: 10px 0 35px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  list-style: none;
  padding: 0;
  margin-inline: auto;
}

nav ul li {
  border: solid white 1px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;

}

nav h2 {
  color: #0051a8;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;

}

nav a:hover {
  color: #007bff;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

